*{
    margin: 0;
    padding: 0;
}
.cab{
    background-color: rgb(1, 32, 11);
    color:aliceblue;
}

.rodape{
    background-color: rgb(1, 32, 11);
    color:aliceblue;
}
.menu{
    display: flex;  
}

.item{
    font-size: 25px;
    margin-right: 5px;
    margin-left: 200px;
}

.img1{
    width: 200px;
    position: relative;
    left: 2px;
    top: 20px;
   
}

.tabela{
    border: 5px dotted rgb(1, 32, 11);
}

.col1{
    border:5px dotted rgb(14, 132, 243);
    width: 300px;
}

.col2{
    border:5px dotted rgb(245, 194, 27);
    width: 300px;
}

.col3{
    border:5px dotted rgb(2, 110, 36);
    width: 300px;
}
