*{
    margin: 0;
    padding: 0;
}
.cab{
    background-color: rgb(1, 32, 11);
    color:aliceblue;
}

.rodape{
    background-color: rgb(1, 32, 11);
    color:aliceblue;
}
.menu{
    display: flex;  
}

.item{
    font-size: 25px;
    margin-right: 5px;
    margin-left: 200px;
}

.img1{
    width: 200px;
    position: relative;
    left: 2px;
    top: 20px;
   
}

.tabela{
    border: 5px dotted #01200b;
}

.col1{
    border:5px dotted rgb(235, 164, 34);
    width: 300px;
}

.col2{
    border:5px dotted rgb(11, 108, 235);
    width: 300px;
}

.col3{
    border:5px dotted rgb(248, 224, 5);
    width: 300px;
}

#roda{
    font-family: cursive;
    text-align: center;
}

.imag{
    width: 200px;
    height: 200px;
    display: inline;
    position: relative;
}
/*.fundo{
    background-image: linear-gradient(#07f051,#ffffff);
}*/
.texto{
    font-size: 20px;
    font-family: arial;
}